.logo_href{
	background-image: url(images/logo.jpg);
}

.table-striped tbody tr:nth-child(odd) td {
	background-color: white
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th{
	background-color: #f5f5f5
}